*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
.topnav{
    overflow: hidden;
    background-color: cornflowerblue;
    color: darkred;
    max-width: 1200px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
li{
    list-style-type: none;
}
li a{
    float: left;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px 10px;
    font-weight: bolder;
    font-size: 20px;
}
li a:hover{
    background-color: deepskyblue;
    border-radius: 10px;
    border: none;
}
li a.active{
    background-color: darkblue;
    color: white;
}
.carousel-container{
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    border: none;
}
.carousel-slide{
    display: none;
    width: 100%;
}
.carousel-slide img{
    width: 100%;
    height: auto;
}
.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: chartreuse;
    color: forestgreen;
    border: none;
    cursor: pointer;
    padding: 50px;
    font-size: 18px;
    transition: 0.3s;
}
.carousel-btn :hover{
    background-color: lightcoral;
}
.prev-btn{
    left: 10px;
}
.next-btn{
    right: 10px;
}