/* Element Selector */
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(38, 105, 168);
}
#p1{
    color: rgb(209, 21, 21);
    font-weight: bolder;
}
#p2{
    color: chartreuse;
    font-weight: 800;
    text-transform: uppercase;
}
#p3{
    text-transform: capitalize;
    text-decoration: overline;
}